body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
  background-color: hsl(217, 28%, 15%);
  width: 100%;
  margin: 0;
}

a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

.nav-wrapper,
.hero-wrapper {
  background-color: hsl(217, 28%, 15%);
}

button {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  border-radius: 50px;
  border: none;
  background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  margin: 20px auto;
}


/**************************************************************************** 
Mobile Styles 
****************************************************************************/

/********** Navigation **********/

nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto 50px;
}

.logo img {
  width: 60%;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  width: 50%;
}


/********** Hero Section  **********/

.hero-wrapper {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  background-image: url(../images/bg-curvy-mobile.svg);
  background-repeat: no-repeat;
  background-size: 120% 35%;
  background-position: center 40%;
}

.hero-illustration {
  width: 80%;
  margin: 0 auto;
}

.hero-text {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.hero-text h1 {
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
  line-height: 2.4rem;
  width: 85%;
  margin: 0 auto;
  padding-top: 45px;
}

.hero-text p {
  line-height: 1.8rem;
  background-color: hsl(218, 28%, 13%);
  padding: 25px 40px;
  margin: 0;
}


.hero-button-wrapper {
  background-color: hsl(218, 28%, 13%);
  width: 100%;
}

.hero-button {
  width: 60%;
  height: 50px;
}

/********** Features Section  **********/

.features-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(218, 28%, 13%);
  width: 100%;
  padding-top: 100px;
  padding-bottom: 60px;
}

.features-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-icons img {
  width: 18%;
}

.features-description {
  width: 88%;
}

.features-description h2 {
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 30px auto 10px;
}

.features-description p {
  line-height: 1.5rem;
  text-align: center;
  margin-bottom: 100px;
  width: 100%;
}

/********** Teams Section  **********/

.teams-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(218, 28%, 13%);
  padding-bottom: 50px;
}

.teams-illustration {
  width: 80%;
}

.teams-text {
  width: 85%;
  padding-top: 50px;
}

.teams-text h2 {
  font-size: 1.1rem;
}

.teams-text p {
  line-height: 1.4rem;
  margin: 10px auto 15px;
}

.teams-text a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: hsl(176, 68%, 64%);
  padding-bottom: 5px;
  border-bottom: 1px solid hsl(176, 68%, 64%);
  width: 150px;
}

/********** Testimonial Section  *********/

.testimonial-wrapper {
  display: flex;
  flex-direction: column;
  background-color: hsl(218, 28%, 13%);
  width: 100%;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 300px;
}

.quote-image {
  width: 75%;
  margin: 0 auto;
}

.testimonial-wrapper img {
  width: 8%;
}

.testimonial-block {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr) 20px;
  font-size: .6rem;
  line-height: 1.3rem;
  background-color: hsl(219, 30%, 18%);
  border-radius: 5px;
  margin: 0 auto 30px;
  padding: 25px;
  width: 65%;
}

.testimonial-quote {
  grid-column: 1 / -1;
  grid-row: 1 / 5;
  margin: 0 0 10px;
}

.testimonial-block img {
  grid-column: 1 / 2;
  grid-row: 5 / -1;
  align-self: center;
  justify-self: center;
  width: 70%;
  clip-path: circle();
}

.testimonial-name,
.testimonial-job {
  grid-column: 2 / -1;
  margin: 0;
}

.testimonial-name {
  grid-row: 5 / -2;
  align-self: end;
  font-weight: 700;
  height: 16px;
}

.testimonial-job {
  grid-row: 6 / -1;
  align-self: start;
  font-size: .4rem;
}

/********** Form Section  **********/

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(216, 53%, 9%);
  width: 100%;
  height: 280px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
  bottom: 140px;
  border-radius: 10px;
  box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.2);
  width: 90%;
  margin: 0 auto;
  background-color: hsl(217, 28%, 15%);
}

.form-text {
  width: 86%;
  text-align: center;
  line-height: 1.3rem;
  margin: 30px auto;
}

.form-text h2 {
  font-size: 1rem;
  margin: 15px auto;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-container form input {
  width: 80%;
  height: 40px;
  margin: auto;
  border-radius: 50px;
  border: none;
}

.form-container form input::placeholder {
  text-indent: 20px;
  opacity: .5;
}

.email-button {
  width: 80%;
  height: 50px;
  margin-bottom: 40px;
}

/********** Footer Section **********/

footer {
  background-color: hsl(216, 53%, 9%);
}

.contact-info,
.footer-links-wrapper,
.social-media,
.attribution {
  background-color: hsl(216, 53%, 9%);
}

.contact-info {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
}

.contact-info img {
  width: 60%;
  margin-bottom: 30px;
}

.contact-location,
.contact-phone,
.contact-email {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  width: 100%;
  margin: 14px 0;
}

.contact-icon {
  width: 40px;
}

.contact-info p {
  width: 80%;
  margin: 0;
}

.footer-links-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 60px auto
}

.footer-links-wrapper ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.footer-links-wrapper ul li {
  margin: 8px 0;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 35%;
  margin: 10px auto;
}

.social-media svg {
  fill: white;
  width: 15px;
  height: 15px;
  padding: 8px;
  border: 1px solid white;
  border-radius: 50%;
}

.attribution {
  font-size: .8rem;
  text-align: center;
  width: 100%;
  margin: 30px auto 0;
  padding-bottom: 10px;
}


/*********************************************************
Tablet Styles
*********************************************************/

@media screen and (min-width: 640px) {

  button {
    width: 35%;
  }

  /********** Navigation **********/

  nav {
    margin: 40px auto;
  }

  .nav-links {
    width: 30%;
  }

  /********** Hero Section **********/

  .hero-illustration {
    width: 50%;
    margin-top: 30px;
  }

  .hero-wrapper {
    background-image: url(../images/bg-curvy-desktop.svg);
    background-size: 100%;
    background-position: bottom;
  }

  .hero-text h1 {
    width: 63%;
  }

  .hero-text p {
    background-color: unset;
    width: 55%;
  }

  .hero-button-wrapper {
    background-color: unset;
  }

  .hero-button {
    width: 30%;
  }

  /********** Features Section **********/

  .features-wrapper {

    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center; */
  }

  .features-description {
    width: 50%;
  }

  /********** Teams Section **********/

  .teams-illustration {
    width: 50%;
  }

  .teams-text {
    width: 60%;
  }

  /********** Testimonial Section **********/

  .quote-image {
    width: 46%;
  }

  .testimonial-block {
    width: 40%;
  }

  /********** Form Section **********/

  .form-container {
    width: 70%;
  }

  /********** Footer **********/

  footer {
    display: flex;
    flex-flow: row wrap;
  }

  .contact-info img {
    width: 40%;
  }

  .contact-info {
    width: calc(50% - 40px);
    padding-left: 40px;
  }

  .contact-location,
  .contact-phone,
  .contact-email {
    /* width: 60%; */
  }

  .footer-links-wrapper {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
  }

  .footer-links-wrapper ul {
    padding-left: 60px;
    margin: 0;
  }

  .social-media {
    margin-top: 60px;
    width: 30%;
  }

  .attribution {
    margin: 40px auto 10px;
  }
}