body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
  background-color: hsl(218, 28%, 13%);
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  margin: 0;
}

a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

.nav-wrapper,
.hero-wrapper {
  background-color: hsl(217, 28%, 15%);
}

button {
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  border-radius: 50px;
  border: none;
  background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  width: 60%;
  height: 75px;
  margin: 20px auto;
}


/********************************************************* Mobile Styles 
*********************************************************/

/********** Navigation **********/

nav {
  display: flex;
  flex-flow: row nowrap;
  width: 90%;
  margin: 45px auto;
}

.logo {
  width: 50%;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  width: 50%;
}

.nav-links li {
  font-size: 1.2rem;
}


/********** Hero Section **********/

.hero-wrapper {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  background-image: url(../images/bg-curvy-mobile.svg);
  background-repeat: no-repeat;
  background-size: 120% 35%;
  background-position: center 48%;
}

.hero-illustration {
  width: 80%;
  margin: 0 auto;
}

.hero-text {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.hero-text h1 {
  font-size: 2.6rem;
  font-family: 'Raleway', sans-serif;
  line-height: 3.8rem;
  width: 85%;
  margin: 0 auto;
  padding-top: 60px;
}

.hero-text p {
  font-size: 1.28rem;
  line-height: 2.2rem;
  background-color: hsl(218, 28%, 13%);
  margin: 0;
  padding: 30px 85px;
}


.hero-button {
  background-color: hsl(218, 28%, 13%);
  width: 100%;
}

/********** Features Styles **********/

.features-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 200px;
}

.features-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
}

.features-icons img {
  width: 16%;
}

.features-description {
  width: 80%;
}

.features-description h2 {
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 60px auto 20px;
}

.features-description p {
  font-size: 1.4rem;
  line-height: 2.3rem;
  text-align: center;
  margin-bottom: 140px;
  width: 100%;
}