body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: hsl(0, 0%, 100%);
  background-color: hsl(218, 28%, 13%);
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  margin: 0;
}

a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

.nav-wrapper,
.hero-wrapper {
  background-color: hsl(217, 28%, 15%);
}




/********************************************************* Mobile Styles 
*********************************************************/

/********** Navigation **********/

nav {
  display: flex;
  flex-flow: row nowrap;
  width: 90%;
  margin: 45px auto;
}

.logo {
  width: 50%;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  width: 50%;
}

.nav-links li {
  display: flex;
  flex-flow: row nowrap;
  font-size: 1.2rem;
}